body {
	--base-size: 16px;
	--gutter-size: var(--base-size);

			/* Color system */
			--color-blue-00: #020f16;
			--color-blue-01: #021826;
			--color-blue-02: #011c26;
			--color-blue-03: #012840;
			--color-blue-04: #83D8EF;
			--color-blue-05: #1f51ff;
			--color-blue-06: #0ff0fc;

			--color-green-01: #025959;
			--color-green-02: #0f8c8c;
			--color-green-03: #63d248;
			
			--color-white: #dedfe4;

			/* Font system */
			--font-family-01: "Space Grotesk", serif;
								font-optical-sizing: auto;
								font-style: normal;

	font-size: var(--base-size);
	font-family: var(--font-family-01);
	background: linear-gradient(to bottom, var(--color-blue-02), rgb(0, 1, 10));
    background-size: 100% 200%;
    transition: background 0.2s linear;
	color: var(--color-white);
	margin: 0px;
	padding: 0px;

	cursor: url('../links/angel-haken.png'), auto;
}

@media screen and (min-width: 600px) {
	:root {
		--base-size: 20px;
		--gutter-size: calc(3 * var(--base-size));
	}
}

header {
	/* background-color: var(--color-blue-02); */
	padding-block: calc(5 * var(--base-size));
}

section {
	/* block-size: 60vh; */
	padding-block: 20px;
	
}

footer {
	--base-size: 48px;

	padding-top: var(--base-size);
	padding-bottom: calc(2 * var(--base-size));
	background-color: var(--color--secondary);
}

li {
	list-style-type: none;
	padding-block: calc(2 * var(--base-size));
	width: 15em;
	height: 15em;
	object-fit: cover;
	padding:0px;
}

p {
	max-width: 60vw;
}

h1 {
	font-size: calc(3 * var(--base-size));
	color: var(--color-blue-04);
	font-family: "PT Sans Narrow", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	text-align: center;
}

audio {
	justify-content: center;
	width: 200px;
    height: 54px;
}

::backdrop {
	background-color: rgb(0 0 0 / 75%);
	backdrop-filter: blur(8px);
}

.text-block, .link-block {
	padding: 60px;
}

/* .text-block {
	padding-bottom: 40px;
} */

.image-block, .pdf-bubble {
	
    display: block;
	border-radius: 100%;
	box-shadow: 0 0 30px 15px rgba(31, 81, 255, 1);
	/* Found on w3 school how to do a glow close to the text https://www.w3schools.com/howto/howto_css_glowing_text.asp*/
	/* Because I was looking on how to make a glow around actual text rather than a box around the text*/
	/* With this I can adjust the width and size of the box shadow, the color and the opacity which helped me achieve the look i wanted */
	width: 200px;
	height: 200px;
	animation:  2s ease-in infinite;
	animation-name:hover;
}

.image-block:nth-child(3n),
.image-block:nth-child(7n+2),
.image-block:nth-child(5n+6){
	scale: 0.8;
	animation-name:hover-img;
}

.image-block:nth-child(9n+6) {
	scale: 0.6;
}

.yt-video, .ytp-cued-thumbnail-overlay, .youtube {
	animation: 3s ease-in infinite;
}

.video-block, .yt-video, .ytp-cued-thumbnail-overlay, .youtube {
	display: block;
	width: auto;
	height: auto;
	border-radius: 100%;
	box-shadow: 0 0 30px 15px rgba(31, 81, 255, 1);
	object-fit: cover;
	overflow: hidden;
	animation:  2s ease-in infinite;
	animation-name:hover-video;
}

.link-block:nth-child(2) {
	scale: 0,6;
}

@keyframes hover{
	0% {transform: translateY(0);}
	50%{transform: translateY(-20px);}
	100% {transform: translateY(0);}
}

@keyframes hover-video {
	0% { transform: translate(0, 0); }
	25% { transform: translate(15px, -10px); }
	50% { transform: translate(-10px, -20px); }
	75% { transform: translate(10px, -10px); }
	100% { transform: translate(0, 0); }
}

@keyframes hover-img {
	0% { transform: translate(0, 0); }
	25% { transform: translate(8px, -8px); }
	50% { transform: translate(-5px, -10px); }
	75% { transform: translate(10px, -10px); }
	100% { transform: translate(0, 0); }
}

/* modal styling start */
button {
	outline: none;
	width: 20px;
	height: 20px;
	color: #dedfe4;
	background-color: rgb(0 0 0 / 30%);
	border: 0px;
	padding: 0px;
	border-radius: 0px;
	padding-inline: 0px;
	cursor: pointer;
	border-radius:10px;
    box-shadow: 0px 0px 2px 2px var(--color-blue-05);
}

dialog {
	/* border-radius: 70px;
	box-shadow: 0 0 5px 5px rgba(31, 81, 255, 0.8);
	background-color: rgb(0 0 0 / 30%);
	color: #dedfe4;
	inset: calc(9 * var(--base-size));
	margin-top: 70px;
	margin-bottom: 70px; */

	/* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 20%;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); */
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-white);
    max-width: 400px;
    width: 90%;
	border: 0px;
}

/* @keyframes animate {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
  } */


.image-block dialog[open] {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	inset: var(--spacing);
	display: flex;
	flex-direction: column;
}

dialog img {
    /* width: 180px; 
    height: 180px; */
	width: 100%; 
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(31, 81, 255, 0.8);
    margin-bottom: 20px;
	mix-blend-mode: normal;
}

dialog h2 {
    font-size: 1.5rem;
    color: var(--color-blue-04);
    margin-bottom: 10px;
}

dialog p {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--color-white);
}

.link-block dialog[open] {
	inset: var(--spacing);
}

::backdrop {
	background-color: rgb(0 0 0 / 75%); /* A dark overlay. */
	backdrop-filter: blur(8px); /* Maybe a little “glassmorphism”? */
}

body:has(dialog[open]) {
	overflow: hidden;
}

.image-block:has(dialog[open]) figure {
	filter: blur(8px);
}

.close {
	width: auto;
	height: 30px;
	padding: 10px;
    top:50%;
    background-color: var(--color-blue-05);
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px var(--color-blue-05);
	opacity: 0.8;
	mix-blend-mode: normal;
}
/* modal styling end */




/* styles for the different elements */
img, .youtube, .pdf-block, button, iframe {
	border-radius: 100%;
	object-fit: cover;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	/* filter: grayscale(1); */
	background-color: var(--color-blue-05);
	mix-blend-mode: luminosity;
}

.youtube, .pdf {
	border-radius: 9999px;
 	/* box-shadow: 0 0 30px 15px rgba(31, 81, 255, 1); */
}

.gutters {
	padding-inline: calc(3 * var(--gutter-size));
}


/* Filter show and hide section start */
.show-video li {
	display: none;
}

.show-video li.video-block {
	display: block;
}

.show-image li {
	display: none;
}

.show-image li.image-block {
	display: block;
}

.show-audio li {
	display: none;
}

.show-audio li.audio-block {
	display: block;
}

.show-link li {
	display: none;
}

.show-text li {
	display: none;
}

.show-text li.text-block {
	display: block;
}

.show-link li.link-block {
	display: block;
}
/* Filter show and hide section end */

.nav-button {
	border: none;
	border-radius: 10%;
	width: auto;
	height: auto;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}

.nav-button:hover, .nav-button:active {
	box-shadow: 0 0 30px 15px rgba(31, 81, 255, 1);
	color: white;
  }

  .nav-button:hover {
	transform: translateY(-5px);
  }

  .filter {
	/* display: block;
	align-content: center;
	align-items: center; */
	justify-content: center;
	display: flex;
	scale: 0.8;
  }


/* grid */

#channel-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	/* gap: calc(4 * var(--gutter-size));  */
	justify-items: center; 
	padding-top: 20px;
}

#channel-blocks{
	cursor: url('../links/angel-haken.png'), auto;

}

#channel-count, body > section.gutters > p {
	text-align: center;
}

ul#channel-blocks {
	gap: 150px 0px;
	padding: 0px;
	padding-top: 50px;
	width: 80vw;
}

section.gutters {
	padding: 0px;
}


/* Found this on code pen https://codepen.io/ShortCode/pen/oNdBKxo */
/* Was looking for something that was emphazising the dive feeking */
/* I finetuned the colors, animation, keyframes – but very fitting animation for my topic yay – It works because of the transition and transform settings that are set for the before and after states, through keyframes the actual points of the waves are moving and give the illusion of it being liquid  */
/* liquid header start */
body {
    margin: 0;
    display: grid;
    place-items: center;
    /* background: var(--color-blue-00); */
}

a {
    font: 700 30px "PT Sans Narrow", serif;;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 60px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s;
	transform: scale(2);
}

a span {
    position: relative;
    /* z-index: 0; */
    color: var(--color-blue-04);
}

 .liquid {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 200px;
    background: var(--color-blue-02);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: 0.6s;
}

a .liquid::after,
a .liquid::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    transform: translate(-25%, -75%);
}

a .liquid::after {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    box-shadow: 0 0 10px 5px var(--color-blue-05), inset 0 0 5px var(--color-blue-05);
    animation: animate 5s linear infinite;
    opacity: 0.8;
}

a .liquid::before {
    border-radius: 40%;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
        inset 0 0 5px rgba(26, 26, 26, 0.5);
    background: rgba(26, 26, 26, 0.5);

    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-25%, -80%) rotate(0);
    }
    100% {
        transform: translate(-25%, -90%) rotate(360deg);
    }
}
a:hover .liquid {
    top: -120px;
}

a:hover {
    box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
    transition-delay: 0.2s;
}
/* liquid header end */



@media screen and (max-width: 900px) {
	#channel-blocks {
		grid-template-columns: repeat(3, 1fr); 
		gap: 20px;
	}
}

@media screen and (max-width: 600px) {
	#channel-blocks {
		grid-template-columns: repeat(2, 9fr);
		gap: 40px;
	}
}
